body{
    background-image:url("../resursi/pozadina2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    }


form {
    background-color: #eee;
    border: 1px solid #aaa;
    max-width: 500px;
    padding: 20px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #fff;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px magenta;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 12px;
    margin-bottom: 10px;
    background-color: #457ca7;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

button:hover {
    background-color: #79aed6;
    color:rgb(37, 37, 37);
}

 button:active {
    outline: none;
    box-shadow: 0 0 12px #457ca7;
}
.form-container {
    display: flex;
    flex-direction: column;
  }

  .error-message {
    align-self: flex-start;
    color: orange;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .error-message2 {
    align-self: flex-start;
    color: red;
    font-weight: bold;
  }